<header>
  <h1> FACESMASH </h1>
</header>
<form action="/messages" method="post">
  <input type="text" name="message">
  <input type="submit" value="Submit">
</form>

<% @history.reverse.each do |message| %>
      <div>
        <%= message.message %> 
      </div>
    <% end %>
