<!DOCTYPE html>
<html>
<body bgcolor="lightgrey">
  <center>
  <h1>Messaging App</h1>
  <%= yield %>
  <img src="https://bjournal.co/wp-content/uploads/2017/06/inbox-1024x872.png" style="width:256px;height:218px;">
  </center>
</body>
</html>
