<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>FACESMASH</h1>
      <div>
        <%= @message.created_at %> <span><%= @message.message %></span>
      </div>
      <form action="/messages/<%= @message.id %>/edit" method="get">
        <input type="submit" value="Edit">
      </form>
      <form action="/delete/<%= @message.id %>" method="post">
        <input name="_method" type="hidden" value="delete">
        <input type="submit" value="Delete">
      </form>
  </body>
</html>
