<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>FACESMASH</h1>
      <div>
        <%= @message.created_at %>: <span><%= @message.message %></span>
      </div>
  </body>
</html>
